
<html>
<body>
<h2>Predicción de casas</h2>
<form action="/predict-form" method="post">
<label>Ingrese m2 : <input name="sqft_living" placeholder="m2"></label><br>
<label> Ingrese numero de habitaciones: <input name="bedrooms" placeholder="habitaciones"></label><br>
<label> Ingrese cantidad de baños:  <input name="bathrooms" placeholder="baños"></label><br>
<label> Ingrese cantidad de pisos: <input name="floors" placeholder="pisos"></label><br>
<label> Ingrese calificacion de condicion 1 - 5: <input name="condition" placeholder="condicion"></label><br>
<label> Ingrese calificacion de vista 1 al 5: <input name="view" placeholder="vista"></label><br>
<label> Ingrese año de construccion:  <input name="yr_built" placeholder="año"></label><br>
<label> Ingrese La Ciudad: <input name="city" placeholder="ciudad"></label><br>
<button type="submit">Predecir</button>
</form>
</body>
</html>
